body {
    background-color: var(--background);
}

.login-container {
    max-width: 900px;
    margin: auto;
    padding: 2.5rem;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: stretch;
}

.form-title {
    color: var(--primary);
    font-weight: bold;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:hover {
    background-color: var(--accent);
}

.nav-tabs {
    margin-bottom: 1.5rem;
}


.nav-tabs .nav-item .active {
    background-color: var(--primary);
    color: white !important;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: var(--accent);
    color: white !important;
}

.login-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-muted {
    margin-bottom: 1.5rem;
}